
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');


.innner-page-main-about-us-content-right-part{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.MinistryNameSubhead{
    font-size: 40px;
    font-style: bold;
    font-family: 'Roboto Condensed', sans-serif;
}
#form1 > div.container > div.innner-page-main-about-us-content-right-part > div:nth-child(2) > h2{
    font-size: 22px;
}
p{
    text-indent: 45px;
    padding-top: 20px !important;
}
 p > span > span{
    
    font-size: 22px !important;
 }/*
.para{
    font-size: 20px;
} */
@media screen and (max-width:990px) {
    #form1 > div.container > div.innner-page-main-about-us-content-right-part > p:nth-child(14) > span > span > img{
        /* display: block; */
        width:69%;
  margin: 10px;
    }
    #form1 > div.container > div.innner-page-main-about-us-content-right-part > p:nth-child(10) > span > span > img{
        margin: 10px;
        width:69%;
    }
    .MinistryNameSubhead{
        font-size: 22px;
    }
    #form1 > div.container > div.innner-page-main-about-us-content-right-part > div:nth-child(2) > h2{
        font-size: 18px;
    }
}